<div class = "header">
    <img src = "/images/speaker.png" class="logo_bar" />
    <h1 class = "h">
        <span class="h-word h-word-1">Speak Your Mind</span>
    </h1>
    <img src = "/images/speaker.png" class="logo_bar" />
</div>
