
<div class = "header">
    <h1 class = "h">
        <span class="h-word h-word-1">Speak Your Mind</span>
    </h1>
    <img id = "img1" src = "/images/speaker.png" />
    <img id = "img2" src = "/images/speaker.png" />
</div>
