body{
    margin: 0px;
}

/*Login and Sign-Up Navs*/

.scream-image-resize{
    width: 10%;
}

#location, #Username{
    display: none;
}

.nav-items{
    display: flex;
    justify-content: center;
    background-color: beige;
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1abc9c;
    color: white;
}

.g-recaptcha{
    padding: 2% 0;
}

.navBar_with_logo{
    display: flex;
    align-items: center;
}


#secretstyling{
    font-weight: bolder;
}

/*
HEADER CSS STARTS HERE
*/

.logo_bar{
    width: 10%;
}
.header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    /*position: relative;*/
  /*  width: 100%;*/
    font-size: 25px;
    /*min-height: 36px;*/
    /*padding: 30px;*/
    background: #1abc9c;
    margin-bottom: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#img1{
    
    position: absolute;
    left: 0px;
    top: 20px;
    width: 150px;
}
#img2{
    overflow: hidden;
    position: absolute;
    width: 150px;
    transform: scaleX(-1);
    margin-right:10px;
    right: 45px; 
    top: 20px;
}

/* 
END OF HEADER CSS 
*/
.parent{
    display: flex;
    justify-content: center;

}
.form-design{
    width: 50%;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: linear-gradient(#eeefef, #ffffff 10%);
    
  
}
.form-input-group{
    position: relative;
}
.label{
    font-size: 20px;
}
.form-design input[type=password], .form-design input[type=email], .form-design input[type=username], .select{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    margin-bottom: 0px;

    /* Size and position */
    width: 100%;
    padding: 10px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
}


h2{
    text-align: center;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

.center_titles{
    text-align: center;
}



.loginb, .sign-upb{

    text-align: center;
	background-color: #04AA6D;
	border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;

}

.sign-upb{
    left:41%
}

.dont{
    text-align: center;
}

.blog-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2%;
    width: 300px;
}

.blogs-container{
    gap:10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.blog_buttons_forms{
    display: flex;
   gap: 5px;
    padding: 3% 0 3%;

}

.message{
    padding: 2% 0;
}


.input_group{


}
.input_group input[type=text], .blogdata, .bloginfo, .blogdesc{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    margin-bottom: 0px;

    /* Size and position */
    width: 100%;
    padding: 10px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
}
.blogdata{
    text-align: center;
}

