<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head') %>


</head>
<body>
<div class = "header">
    <h1 class = "h">
    <span class="h-word h-word-1">Speak</span>
    <span class="h-word h-word-2">Your</span>
    <span class="h-word h-word-3">Mind!</span>
    </h1>
    <img id = "img1" src = "/images/speaker.png" />
    <img id = "img2" src = "/images/speaker.png" />
</div>

<div class="form-design">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="form-input-group">
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" value="" required><br>
        </div>
        <div class="form-input-group">
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" value="" required><br><br>
        </div>

        <div class="form-input-group">
            <button type="submit">Login</button>
        </div>
        <div>
            <p>Don't have an account?
             <a href="/sign-up">Sign-Up</a>
            </p>
        </div>

        <% if (message) { %>
            <div>
                <p><b>Message:</b>  <%= message%></p>
            </div>
        <% } %>
        <% if (errors) { %>
            <div>
                <%= errors%>
            </div>
        <% } %>
    </form>
</div>
</body>
</html>