<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head') %>
</head>
<body>
<%- include('partials/homenav') %>
<div class="form-design">
    <h1>Login</h1>
    <form action="/login" method="post">
        <div class="form-input-group">
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" value="" required><br>
        </div>
        <div class="form-input-group">
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" value="" required><br><br>
        </div>

        <div class="form-input-group">
            <input type="submit" value="Submit">
        </div>
        <div>
            <p>Don't have an account?
             <a href="/sign-up">Sign-Up</a>
            </p>
        </div>

        <% if (message) { %>
            <div>
                <p><b>Message:</b>  <%= message%></p>
            </div>
        <% } %>
        <% if (errors) { %>
            <div>
                <%= errors%>
            </div>
        <% } %>
    </form>
</div>
</body>
</html>