<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head') %>


</head>
<body>

<div class = "parent">
<div class="form-design">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="form-input-group">
            <input type="hidden" id="csrftokenvalue" name="csrftokenvalue" value="<%=csrfToken%>">
            <input type="text"  id="Username" name="Username" tabindex="-1">
        </div>
        <div class="form-input-group">
            <label class= "label" for="email">Email:</label><br>
            <input type="email" id="email" name="email" value="" required><br>

            
        </div>
        <div class="form-input-group">
            <label class = "label" for="password">Password:</label><br>
            <input type="password" id="password" name="password" value="" required><br><br>
        </div>

        <div class="form-input-group">
            <button class ="loginb" type="submit">Login</button>
        </div>
        <div class ="dont">
            <p>Don't have an account?
             <a href="/sign-up">Sign-Up</a>
            </p>
        </div>

        <% if (message) { %>
            <div>
                <p><b>Message:</b>  <%= message%></p>
            </div>
        <% } %>
        <% if (errors) { %>
            <div>
               <b><%= errors%> </b>
            </div>
        <% } %>
    </form>
</div>
</div>
</body>
</html>