<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head') %>
</head>
<body>
<%- include('partials/homenav') %>
<% if(email){%>
    <div>
        <h1>Password reset verification</h1>
        <p>Email has been sent to:  <%=email%></p>
        <p>An email with the password reset link has been sent to you.</p>
        <p>Kindly check your email, if not in your inbox, kindly check your spam. </p>
    </div>
<% } else { %>
<p>Unauthorised page access</p>
<!-- <form method="POST" action="/generate">
     <button type="submit">Generate QR Code</button>
 </form>-->
<% } %>
</body>
</html>