<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head') %>
</head>
<body>
<%- include('partials/homenav') %>
<div class="form-design">
    <h1>Sign-Up</h1>
    <form action="/sign-up" method="post">
        <div class="form-input-group">
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" value="" required><br>
        </div>
        <div class="form-input-group">
            <label for="username">Username</label><br>
            <input type="username" id="username" name="username" value="" required><br><br>
        </div>
        <div class="form-input-group">
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" value="" required><br><br>
        </div>
        <div class="form-input-group">
            <label for="passwordConfirmation">Confirm your password</label><br>
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" value="" required><br><br>
        </div>

        <div class="form-input-group">
            <input type="submit" value="Submit">
        </div>
        <% if (message) { %>
            <div>
                <p><b>Message:</b>  <%= message%></p>
            </div>
        <% } %>
        <% if (errors) { %>
            <div>
                <ul>
                    <% for (var i = 0; i < errors.length; i++) { %>
                        <li><%= errors[i] %></li>
                    <% } %>
                </ul>
            </div>
        <% } %>
    </form>
</div>
</body>